.navigation{
  animation: navigation-animation 10s infinite;
  display: flex;
  justify-content: center;
  background: red;
}

.App{
  padding: 60px;
}

h2 {
  border-bottom: solid 1px lightgray;
}

.eventList{
  display: flex;
  justify-content: space-around;
}

@keyframes navigation-animation{
0%{
  filter: hue-rotate(0deg)
}
100%{
  filter: hue-rotate(360deg)
}
}
